
/*Content*/

.content{
  margin: 10px;
  padding: 100px;
  box-sizing: border-box;
  background-color: white;
  
/*Add shadow radius*/
  
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  
/*Add shadow shadow*/
  
  -webkit-box-shadow: 0px 0px 8px #000000;
  -moz-box-shadow: 0px 0px 8px #000000;
  box-shadow: 0px 0px 8px #000000;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
   display: grid;
 
 
}
   

/*Navigation bar*/


.NavigateBar{

  /*Add flex*/
  
  display: flex;
 
   /*Add shadow*/
  
  -webkit-box-shadow: 0px 0px 4px #000000;
  -moz-box-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 0px 4px #000000;
  
  background-color: #DDDDDD;
  padding: 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: #888888;
  text-align: center;
  
    /*Add radius*/
  
  border-radius: 5px;
  
}
/*Adjust font and style*/
.NavigateBar a{
  color:gray;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  padding: 14px 28px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*Add white color when hover over the buttons*/
.NavigateBar a:hover
{
  background-color: white;
  color: black;
   border-radius: 6px;
  
}

/*Title - 'what do you want to know about Hopii'*/

.box{
   font-weight:bold;
   color: white;
   padding: 50px;
   background-color:	#28B463  ;
   -webkit-box-shadow: 0px 0px 8px #000000;
   -moz-box-shadow: 0px 0px 8px #000000;
   box-shadow: 0px 0px 8px #000000;
   display: flex;
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#toggle
{
  height: 40px;
  width: 50px;
  color: white;
  display: None;
}

/*Add a toggle area*/

.togglearea{
    background-color:	#888888;
  
  /* Add Shadow */
    -webkit-box-shadow: 0px 0px 8px #000000;
   -moz-box-shadow: 0px 0px 8px #000000;
    box-shadow: 0px 0px 8px #000000;
    display: flex;
 /*   justify-content: flex-end;*/
    /* Add color and radius */
     background-color: #DDDDDD;
     padding: 25px;
     border-radius: 6px;
}

.togglearea label{
  background-color: white;
  height: 60px;
  width: 60px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/*Design a toggle button*/
.togglearea label span{
  
  background-color: gray;
  height: 4px;
  width:70%;
  margin:2px 0px;
  
}
.togglearea
{
  display: none;
}

/*Design grid*/

.image {
  min-height: 300px;
  text-align:center;
  margin-top: 70px;
}


.frame_img {
  height: 160px;
  width: 150px;
  margin: 0 auto;
  background-color: white;
}

.img_transform {
  display: inline-block;
  text-align: center;
  width: 220px;
  height: 280px;
}

.img_transform p {
  position: relative;
  top: -10px;
}




@media screen and (max-width: 690px)
{
  .NavigateBar
  {
    flex-direction: column;
    display: None;
  }
  #toggle:checked + .NavigateBar
  {
    display: flex;
  }
  .togglearea
  {
    display:flex;
  }
}

